node_modules/
dist/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Local Netlify folder
.netlify

# Capacitor local files
android/.gradle/
android/local.properties
ios/App/Pods/
ios/App/DerivedData/
